<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <title>Upload videos</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Gayathri&display=swap" rel="stylesheet"> 
    <body>
        <div class="container">